:root {
  --color-gray-xdark: #181818;
  --color-gray-xlight: #dfdfdf;
  --color-orange-dark: #8d6c00;
  --color-orange-light: #f8b942;
}

html {
  --color-background: var(--color-gray-xlight);
  --color-foreground: black;
  --color-primary: var(--color-orange-light);
}

body {
  min-height: 100vh;
  margin: 0px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0px;

  background-color: var(--color-background);
  color: var(--color-foreground);
  font: 20px serif;
  cursor: default;
  user-select: none;
}

button {
  flex-shrink: 0;
  height: 30px;

  padding: 0px 24px;

  background-color: var(--color-primary);
  color: var(--color-foreground);
  border: none;
  border-radius: 15px;
  font: 16px serif;
  font-weight: bold;
  cursor: pointer;
}

header {
  flex-grow: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
}

#path {
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#path > a {
  display: flex;
  margin: 0px;
  margin-left: 0.5em;

  align-items: center;

  color: var(--color-foreground);
  cursor: pointer;
}

#path > a::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 0.5em;
  background-image: url('/assets/chevron_right.svg');
}

#path > a:first-child {
  margin-left: 0px;
}

#path > a:first-child::before {
  content: "";
  display: none;
  margin: 0px
}

main {
  flex-grow: 1;
  max-width: 10cm;
  margin: auto 0px;
}

footer {
  flex-grow: 0;

  padding: 0.5em;

  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  html {
    --color-background: var(--color-gray-xdark);
    --color-foreground: white;
    --color-primary: var(--color-orange-dark);
  }
}
