:root {
  --color-gray-xdark: #181818;
  --color-gray-dark: #454545;
  --color-gray-medium: #7a7a7a;
  --color-gray-light: #b6b6b6;
  --color-gray-xlight: #dfdfdf;
}

* {
  box-sizing: border-box;
}

html {
  --color-background: var(--color-gray-xlight);
  --color-foreground: black;
  --color-surface: var(--color-gray-light);
  --color-header-background: #eae5dbd6;
}

body {
  min-height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font: 24px sans-serif;
}

header {
  flex-grow: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em;
  background-color: var(--color-header-background);
  backdrop-filter: saturate(180%) blur(20px);
}

header > h1 {
  margin: 0px;
  width: min(32cm - 2em, 100% - 2em);
  text-align: center;
  font-size: 1em;
  font-weight: normal;
}

header img {
  width: 1em;
  height: 1em;
}

main {
  flex-grow: 1;
  box-sizing: content-box;
  width: min(28cm, 100%);
  margin: auto 0px;
}

footer {
  flex-grow: 0;
  width: min(32cm, 100%);
  padding: 0.5em;
}

input {
  font: inherit;
  font-size: 0.6em;
}

button, input[type="button"], input[type="submit"], input[type="reset"] {
  min-width: 6em;
  padding: 0.4em 2em;
  background: var(--color-surface);
  color: var(--color-foreground);
  outline: none;
  border: none;
  border-radius: 1.5em;
  font: inherit;
  font-size: 0.6em;
  cursor: pointer;
}

button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active {
  filter: brightness(0.8);
}

button.outlined, input[type="button"].outlined, input[type="submit"].outlined, input[type="reset"].outlined {
  background: none;
  border: 1px solid var(--color-foreground);
}

input[type="text"], input[type="password"] {
  min-width: 10em;
  padding: 0.4em 0.7em;
  background: var(--color-surface);
  color: var(--color-foreground);
  outline: none;
  border: none;
  border-radius: 1em;
}

.status-target {
  display: none;
}

.status-target.status-success:target {
  display: unset;
  color: green;
}

.status-target.status-failure:target {
  display: unset;
  color: red;
}

@media (prefers-color-scheme: dark) {
  html {
    --color-background: var(--color-gray-xdark);
    --color-foreground: white;
    --color-surface: var(--color-gray-dark);
    --color-header-background: #252422d6;
  }

  .darkmode-invert {
    filter: invert(1);
  }
}
